px:root {
    --mouse-x: 0px;
    --mouse-y: 0px;
  }

#cursor {
    position: absolute;
    left: var(--mouse-x);
    top: var(--mouse-y);
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

#p1 {
    left: 750px;
    top: 1610px;
}

#p2 {
    left: 750px;
    top: 1810px;
}

#p3 {
    left: 750px;
    top: 2010px;
}
body {
    background-image: url("/src/images/Ellipse.png"), 
    url("/src/images/Ellipse.png"), 
    url("/src/images/Ellipse.png"),
    url("/src/images/Ellipse.png"),
    url("/src/images/Ellipse.png"),
    url("/src/images/Ellipse.png");
    background-repeat: no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat;
    background-position: 141px 191px, 710px 600px,100px 875px,
    0px 1440px, 825px 5150px, -80px 5300px;
}

